*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
	width: 980px;
	margin: 0 auto;
}

/* HEADER */
header{
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    background-image: url("../images/header_back.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.navigation ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
}

/* .ap_menu ul li a.active:after{
	width: 100%;
	background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    height: 3px;
} */

.navigation ul li a:after {
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0px;
    content: '';
    height: 3px;
    width: 0;
    transition: all 0.3s ease-in-out;
}

.navigation ul li a:hover:after {
    width: 100%;
}




/* FOOTER */
footer{
    width: 100%;
    background-color: #161e23;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

